a:hover {
  color: #c00000;
}
.position-unset-img {
  opacity: 1 !important;
  position: unset !important;
  visibility: unset !important;
}
span.pri {
  font-size: 14pt;
  color: #ff1818;
}

.mt-100 { margin-top: 100px; }
.mt-90 { margin-top: 90px; }
.mt-80 { margin-top: 80px; }
.mt-70 { margin-top: 70px; }
.mt-60 { margin-top: 60px; }
.mt-50 { margin-top: 50px; }
.mt-45 { margin-top: 45px; }
.mt-40 { margin-top: 40px; }
.mt-35 { margin-top: 35px; }
.mt-30 { margin-top: 30px; }
.mt-25 { margin-top: 25px; }
.mt-20 { margin-top: 20px; }
.mt-15 { margin-top: 15px; }
.mt-10 { margin-top: 10px; }
.mt-5 { margin-top: 5px; }

/*------------------------------------------*/
/*  Margin Bottom
/*------------------------------------------*/

.mb-100 { margin-bottom: 100px; }
.mb-90 { margin-bottom: 90px; }
.mb-80 { margin-bottom: 80px; }
.mb-70 { margin-bottom: 70px; }
.mb-60 { margin-bottom: 60px; }
.mb-50 { margin-bottom: 50px; }
.mb-45 { margin-bottom: 45px; }
.mb-40 { margin-bottom: 40px; }
.mb-35 { margin-bottom: 35px; }
.mb-30 { margin-bottom: 30px; }
.mb-25 { margin-bottom: 25px; }
.mb-20 { margin-bottom: 20px; }
.mb-15 { margin-bottom: 15px; }
.mb-10 { margin-bottom: 10px; }
.mb-5 { margin-bottom: 5px; }
.mb-0 { margin-bottom: 0; }

/*------------------------------------------*/
/*  Margin Left
/*------------------------------------------*/

.ml-70 { margin-left: 70px; }
.ml-60 { margin-left: 60px; }
.ml-50 { margin-left: 50px; }
.ml-45 { margin-left: 45px; }
.ml-40 { margin-left: 40px; }
.ml-35 { margin-left: 35px; }
.ml-30 { margin-left: 30px; }
.ml-25 { margin-left: 25px; }
.ml-20 { margin-left: 20px; }
.ml-15 { margin-left: 15px; }
.ml-10 { margin-left: 10px; }
.ml-5 { margin-left: 5px; }

/*------------------------------------------*/
/*  Margin Right
/*------------------------------------------*/

.mr-70 { margin-right: 70px; }
.mr-60 { margin-right: 60px; }
.mr-50 { margin-right: 50px; }
.mr-45 { margin-right: 45px; }
.mr-40 { margin-right: 40px; }
.mr-35 { margin-right: 35px; }
.mr-30 { margin-right: 30px; }
.mr-25 { margin-right: 25px; }
.mr-20 { margin-right: 20px; }
.mr-15 { margin-right: 15px; }
.mr-10 { margin-right: 10px; }
.mr-5 { margin-right: 5px; }

/*------------------------------------------*/
/*  Padding Top
/*------------------------------------------*/
.pt-120 { padding-top: 120px; }
.pt-110 { padding-top: 110px; }
.pt-100 { padding-top: 100px; }
.pt-90 { padding-top: 90px; }
.pt-80 { padding-top: 80px; }
.pt-70 { padding-top: 70px; }
.pt-60 { padding-top: 60px; }
.pt-50 { padding-top: 50px; }
.pt-45 { padding-top: 45px; }
.pt-40 { padding-top: 40px; }
.pt-35 { padding-top: 35px; }
.pt-30 { padding-top: 30px; }
.pt-25 { padding-top: 25px; }
.pt-20 { padding-top: 20px; }
.pt-15 { padding-top: 15px; }
.pt-10 { padding-top: 10px; }

/*------------------------------------------*/
/*  Padding Bottom
/*------------------------------------------*/

.pb-100 { padding-bottom: 100px; }
.pb-90 { padding-bottom: 90px; }
.pb-80 { padding-bottom: 80px; }
.pb-70 { padding-bottom: 70px; }
.pb-60 { padding-bottom: 60px; }
.pb-50 { padding-bottom: 50px; }
.pb-45 { padding-bottom: 45px; }
.pb-40 { padding-bottom: 40px; }
.pb-35 { padding-bottom: 35px; }
.pb-30 { padding-bottom: 30px; }
.pb-25 { padding-bottom: 25px; }
.pb-20 { padding-bottom: 20px; }
.pb-15 { padding-bottom: 15px; }
.pb-10 { padding-bottom: 10px; }
.pb-0 { padding-bottom: 0; }

/*------------------------------------------*/
/*  Padding Left
/*------------------------------------------*/

.pl-100 { padding-left: 100px; }
.pl-90 { padding-left: 90px; }
.pl-80 { padding-left: 80px; }
.pl-70 { padding-left: 70px; }
.pl-60 { padding-left: 60px; }
.pl-50 { padding-left: 50px; }
.pl-45 { padding-left: 45px; }
.pl-40 { padding-left: 40px; }
.pl-35 { padding-left: 35px; }
.pl-30 { padding-left: 30px; }
.pl-25 { padding-left: 25px; }
.pl-20 { padding-left: 20px; }
.pl-15 { padding-left: 15px; }
.pl-10 { padding-left: 10px; }
.pl-5 { padding-left: 5px; }
.pl-0 { padding-left: 0px; }

/*------------------------------------------*/
/*  Padding Right
/*------------------------------------------*/

.pr-100 { padding-right: 100px; }
.pr-90 { padding-right: 90px; }
.pr-80 { padding-right: 80px; }
.pr-70 { padding-right: 70px; }
.pr-60 { padding-right: 60px; }
.pr-50 { padding-right: 50px; }
.pr-45 { padding-right: 45px; }
.pr-40 { padding-right: 40px; }
.pr-35 { padding-right: 35px; }
.pr-30 { padding-right: 30px; }
.pr-25 { padding-right: 25px; }
.pr-20 { padding-right: 20px; }
.pr-15 { padding-right: 15px; }
.pr-10 { padding-right: 10px; }
.pr-5 { padding-right: 5px; }
.pr-0 { padding-right: 0px; }

/*------------------------------------------*/
/*  Padding Centered
/*------------------------------------------*/

.pc-45 { padding-right: 45px; padding-left: 45px; }
.pc-40 { padding-right: 40px; padding-left: 40px; }
.pc-35 { padding-right: 35px; padding-left: 35px; }
.pc-30 { padding-right: 30px; padding-left: 30px; }
.pc-25 { padding-right: 25px; padding-left: 25px; }
.pc-20 { padding-right: 20px; padding-left: 20px; }
.pc-15 { padding-right: 15px; padding-left: 15px; }
p.tom_tat {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
h2.title_du_an {
  font-size: 14pt;
  text-transform: uppercase;
}
p {
  color: #000;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-bottom: 10px;
}
.region-sidebar-right .single-feature {
  margin-bottom: 15px;
}
.contact-form-wrap-1 {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 0 2px 12px #97a1b21a;
  box-shadow: 0 2px 12px #97a1b21a;
}
h3.title_sidebar_right {
  font-size: 14pt;
  text-transform: uppercase;
  text-align: center;
}
.title_sidebar {
  font-size: 12pt;
}
/*.thong-tin_chi_tiet-body{*/
/*  height: 700px;*/
/*  overflow: hidden;*/
/*  overflow-y: scroll;*/
/*}*/
div#admin-menu {
  z-index: 9999999999999;
}
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  width: 100%;
  float: unset;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  height: 42px;
  line-height: 40px;
  outline: 0;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left!important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
.views-exposed-form .views-exposed-widget {
  display: block;
  width: 100%;
  float: unset;
  padding: 0px;
}
form#views-exposed-form-taxonomy-term-page-tim-kiem-san-pham-bat-dong-san label {
  display: none;
}
.region-sidebar-right h2 {
  font-size: 14pt;
  text-transform: uppercase;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
h3.thongbao_gia {
  clear: both;
  font-size: 12pt;
  display: block;
  padding-top: 10px;
  margin: 0px;
  color: #0000009e;
}
.border_timkiem {
  clear: both;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 14px;
  border-radius: 5px;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
h1.title {
  font-size: 24pt !important;
  margin-bottom: 0px;
  font-family: Arial;
  color: #c00000;
}
.section-title p {
  text-align: justify;
}
.link_xem_chi_tiet {
  color: #fff;
  text-transform: uppercase;
  background: #c00000;
  padding: 10px 20px;
  margin-top: 30px;
  display: inline-block;
  border-radius: 5px;
}
.link_xem_chi_tiet:hover {
  background: #fff;
  color: #c00000;
}
.back_hover_ccc:hover {
  background: #0050c3;
  color: #fff;
}
div#block-views-block-front-block-sp-moi {
  background: #ebeef3;
}
.section-title {
  margin-bottom: 30px;
  position: relative;
}
.client-slider-2 .thumb {
  padding: 0px 35%;
  margin-bottom: 20px;
}
.client-slider-2 img {
  border-radius: 50% !important;
  border: 1px solid;
}
.nen_dep_anh {
  background-image: linear-gradient(rgb(46 46 46 / 25%), rgb(46 46 46 / 65%)), url(/sites/default/files/anh-thanh-pho-lung-linh-cuc-dep_113259914.jpg);
  background-size: cover;
  background-position: center 80%;
}
.background-new h2, .background-new p, .background-new a, .background-new h4 {
  color: #fff;
}
.nen_dep_anh .owl-nav i {
  color: #fff;
}
.nen_dep_anh .owl-nav i:hover {
  color: #c00000;
}
.client-slider-2 .owl-dot.active{
  background: #c00000;
}
.thong_tin_chinh {
  padding: 10px 15px;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 0px 2px 12px #97a1b21a;
  box-shadow: 0px 2px 12px #97a1b21a;
  overflow: hidden;
  border: 1px solid #0050c359;
  border-top: 0px;
}
.thong_tin_chinh h4{
  text-align: center;
}
.thong_tin_chinh p{
  margin-bottom: 0px;
}
.thong_tin_chinh .fa-phone {
  transform: rotate(
    90deg);
}
.slider_nhan_vien .owl-prev, .slider_nhan_vien .owl-next {
  position: absolute;
  top: 50px;
}
.slider_nhan_vien .owl-next {
  position: absolute;
  right: 0px;
  background: #fff;
}
.slider_nhan_vien .owl-prev {
  position: absolute;
  left: 0px;
  background: #fff;
}
.sell-home-area {
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(
    0deg, white -15%, transparent),url(/sites/default/files/bg-city.png);
}
h6.price {
  color: #c1322f;
  font-size: 16pt;
}
.fafa-location {
  font-weight: 400;
  font-size: 12pt;
}
.xem-them-tin-tuc {
  color: #c00000;
}
.xem-them-tin-tuc:hover {
  color: #0050c3;
}
.info-list span a {
  border: 1px solid;
  border-radius: 50%;
  padding: 2px;
}
h6.fafa-location .fa-map-marker {
  color: #c00000;
  margin-right: 5px;
}
.pd-0 {
  padding: 0px;
}
.box-shaw-un {
  box-shadow: unset;
}
.box-shadow-chung-cu {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 20%);
  margin-bottom: 15px;
}
.box-shadow-chung-cu .details {
  padding: 5px 15px;
}
.box-shadow-chung-cu .thumb .fp_price {
  color: #ff1818;
  padding: 0px 15px;
  font-size: 14pt;
  font-weight: 600;
}
.overflow-hidden-y {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 250px;
}
.overflow-hidden-y::-webkit-scrollbar {
  width: 0px;
}
.title-thong-tin-chi-tiet {
  font-size: 14pt;
}
.edit_iframe iframe {
  width: 100%;
  height: 250px;
}
.header-box .fa-angle-right {
  position: absolute;
  right: 10px;
  color: #c00000;
  top: 10px;
  background: #fff;
  border-radius: 3px;
  padding: 3px 5px;
}
.dong_tab_hien_thi{
  display: none;
}
.tim_kiem_pop_up {
  position: fixed;
  z-index: 9999;
  width: 40px;
  height: 40px;
  top: 15%;
  right: 10px;
  background: #c00000;
  text-align: center;
  align-items: center;
  display: grid;
  border-radius: 8px;
  padding: 1px;
}
.tim_kiem_pop_up .fa-search {
  color: #fff;
}
.tim_kiem_pop_up:hover {
  background: #fff;
  border: 1px solid #c00000;
}
.tim_kiem_pop_up:hover .fa-search {
  color: #c00000;
}
#mapid, #map{
  height: 100%;
  width: 100vw;
}
.hidden{
  display: none;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  background-color: red;
  width: 26px !important;
  height: 26px !important;
  border-radius: 50%;
  margin-left: -5px !important;
  margin-top: -5px !important;
  border: 2px solid #fff;
  box-shadow: 0 2px 2px rgb(0 0 0 / 50%);
  text-align: center;
  font: 11px Roboto,Arial,Helvetica,sans-serif;
  color: #fff;
}
.san-pham-tim-kiem{
  background: #fb760a !important;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive span {
  line-height: 23px;
}
.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive:hover{
  background-color: #0063ff;
}
.thong_tin_chinh h4 {
  text-align: center;
  font-size: 12pt;
}
.thong_tin_chinh p {
  margin-bottom: 0px;
  font-weight: 300;
  text-align: justify;
}
.footer-area .footer-logo img {
  border-radius: 50%;
}
.rld-banner-tab .nav-item a:hover, .rld-banner-tab .nav-item a:focus, .rld-banner-tab .nav-item a.active {
  background: #c00000;
  color: #fff;
}
.ms-options-wrap > button:after {
  border-top-color: #c00000;
}
.rld-single-select .single-select:before {
  background-image: unset;
  border: 6px solid rgba(0, 0, 0, 0);
  border-top-color: #c00000;
  margin-top: -3px;
}
.btn-yellow {
  background: #c00000;
  color: #fff;
}
.rld-single-select .single-select:hover, .rld-single-select .single-select:active, .rld-single-select .single-select:focus {
  border: 1px solid #c00000;
}
.btn-yellow:hover, .btn-yellow:focus {
  color: #fff;
  background: #0050c3;
}
.owl-controls .owl-prev {
  color: #c00000;
  border: #c00000;
}
.owl-controls .owl-next {
  color: #c00000;
  border: #c00000;
}
.owl-controls .owl-prev:hover {
  border-color: #0050c32e;
  -webkit-box-shadow: 0px 2px 12px rgb(255 233 209 / 75%);
  box-shadow: 0px 2px 12px rgb(0 80 195 / 29%);
  color: #0050c3;
}
.owl-controls .owl-next:hover {
  border-color: #0050c32e;
  -webkit-box-shadow: 0px 2px 12px rgb(255 233 209 / 75%);
  box-shadow: 0px 2px 12px rgb(0 80 195 / 29%);
  color: #0050c3;
}
.widget_nav_menu ul li a:hover {
  color: #c00000;
}
.tim_kiem_pop_up {
  display: none;
}
.rld-single-input.left-icon:before {
  background-image: unset;
  background-image: unset;
  /* border: 6px solid rgba(0, 0, 0, 0); */
  margin: 0px;
  /* position: relative; */
  font-weight: 900;
  color: #c00000;
  top: 10px;
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
}
.views-more-link {
  color: #c00000;
}
.views-more-link:hover {
  color: #0050c3;
}
.rld-single-input input:hover, .rld-single-input input:active, .rld-single-input input:focus {
  border: 1px solid #c00000;
}
.search-box .ms-options-wrap > button:focus, .ms-options-wrap > button {
  border-radius: 4px;
}
.details h4:hover {
  color: #0050C2 !important;
}
.single-news .details h4 a:hover{
  color: #0050C2;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body,a,p,h1,h2,h3,h4,h5,h6{
  font-family: 'Quicksand', sans-serif;
}
div#realdeal_main_menu a {
  text-transform: uppercase;
}
.thong_tin_chinh h4 {
  text-align: center;
  font-size: 12pt;
  font-weight: 600;
}
.single-news .details h4 a {
  font-size: 12pt;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-area-fixed {
  position: fixed;
}
.navbar-area-fixed .nav-container
{
  padding: 0px;
}
#block-block-9 .nameneed {
  font-size: 26pt;
  font-weight: 600;
  margin-top: 25px;
  color: #c00000;
  background: #fff;
}
footer .widget-title {
  text-transform: uppercase;
  color: #fff;
}
.back-to-top{
  background: #c00000;
}
ul.khoi_thu_2 {
  margin-left: 30px;
}
.widget_nav_menu ul li i {
  font-weight: 600;
  padding: 0px 3px;
}
.footer_contact_widget ul li .icon i {
  font-size: 14pt;
  padding-right: 5px;
}
.details h6.fafa-location {
  text-align: justify;
}
.single-news .details p {
  text-align: justify;
}
.dang_ki_min_phi_mb {
  display: none;
}
@media (min-width: 1200px)
{
  .khi_di_dau {
    padding-top: 20px;
  }
}
@media (max-width: 1200px)
{
  .khi_di_dau {
    padding-top: 90px;
  }
}
@media (max-width: 991px)
{
  .toggle-btn {
    top: 20px;
  }
  .khi_di_dau {
    padding-top: 90px;
  }
  .dang_ki_min_phi_mb {
    position: absolute;
    top: calc(50% - 23.5px);
    display: block;
    left: calc(50% - 40px);
  }
  .dang_ki_min_phi_mb a {
    height: 100%;
    display: block;
    padding: 10px;
    background: #c00000;
    color: #fff;
    border-radius: 5px;
  }
}
@media (max-width: 768px)
{
  .khi_di_dau {
    padding-top: 215px;
  }
}
nav.navbar.navbar-expand-lg.navbar-light.bg-blue {
  background: #1768AC;
  padding-top: 3px;
  padding-bottom: 3px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}
.title-navbar{
  font-size: 18pt;
  font-weight: 700;
}
.white{
  color: #fff;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-blue a.navbar-brand {
  padding: 0;
  margin: 0;
  padding-right: 40px;
}
.form-control.modified {
  border-radius: 3px;
  margin-right: 10px !important;
  height: 34px !important;
  box-shadow: none;
}
a#btn-tim-kiem {  background: #d9910f;
  padding: 18px;
  height: auto;
  line-height: 0;
  color: #fff;
}
.bg-white{
  background: #fff;
}
.input-search-map{
  width: 400px !important;
  font-size: 11pt;
  border-left: none;
}
.collapse.show#TimKiemSPPC{
  margin-top: 50px;
  padding: 5px;
}
div#TimKiemSPPC .dropdown button {
  height: auto;
  line-height: normal;
  padding: 5px 20px;
  background: #fff;
  color: #242424;
  border: 1px solid #ccc;
  border-radius: 0;
  font-weight: normal;
  border: none;
}
a#btn-loc-bds {
  color: #fff;
}
.dropdown-menu.show {
  top: 20px !important;
}
.dropdown-menu.show:before{
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 1px;
  top: -7px;
  left: 25px;
  content: "";
  transform: rotate(
    45deg);
  z-index: -1;
}
.form-check-label{
  font-weight: normal;
}
.single-news .details {
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 0px 2px 12px #97a1b21a;
  box-shadow: 0px 2px 12px #97a1b21a;
  overflow: hidden;
  border: 1px solid #0050c359;
  border-top: 0px;
}
.footer_contact_widget ul li strong {
  color: #dbdbdb;
}
.footer_contact_widget ul li a {
  font-size: 12pt;
  color: #dbdbdb;
}
.footer_contact_widget ul li:hover strong {
  color: #fff;
}
.footer_contact_widget ul li:hover a {
  font-size: 12pt;
  color: #fff;
}
.widget_nav_menu ul li a {
  color: #dbdbdb;
}
.widget_nav_menu ul li:hover a {
  color: #fff;
}
.footer-area {
  background: #0050c3;
}
.footer-area .copy-right {
  color: #dbdbdb;
}
.footer-area .copy-right a:hover{
  color: #fff;
}
.widget_nav_menu ul li svg {
  color: #dbdbdb;
}
.widget_nav_menu ul li:hover svg {
  color: #fff;
}

