

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 15px 0;
}

.title-page-sub {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 24pt;
  color: #fff;
}

.breadcrumb a {
    padding: 0 5px;
}

.breadcrumb a:first-child {
    padding-left: 0;
}

.page-product .single-new-product.category-new-product .new-product-action a {
    width: 100%;
}

.page-product-detail .quick-add-to-cart .single_add_to_cart_button.hyper-page {
    cursor: pointer;
    margin-left: 0;
    transition: all 500ms ease;
}

.content-detail-product li i {
    color: #14498f;
}

.content-detail-product li {
    margin-bottom: 10px;
}

.page-product-detail .product-simple-content .quick-add-to-cart.contact-form .single_add_to_cart_button {
    margin-left: 0;
}

.page-product-detail .checkbox span i {
    margin-top: 1px;
}

.page-product-detail .product-simple-content .sinple-c-title h3 {
    font-size: 24px;
    font-weight: 600;
}

.page-product-detail .product-simple-content .product-price-star.star-2 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.page-news .post-list-info {
    padding-left: 30px;
    width: 65%;
}

.page-news .post-list-img {
    width: 35%;
}

.side-bar-news .single-new-product {
    display: flex;
}

.side-bar-news .single-new-product .product-img {
    flex: 0 0 40%;
}

.side-bar-news .single-new-product .product-content {
    flex: 0 0 60%;
    padding-left: 12px;
}

.side-bar-news .single-new-product .product-content h3 {
  font-weight: 500;
  text-align: justify;
  font-size: 12pt;
  line-height: 17pt;
}

.form-full {
    width: 100%
}

.views-exposed-form .views-exposed-widget {
    float: unset;
    padding: 0;
}

.btn-search:hover {
    background: #14498f;
    color: #fff;
}

.btn-search {
    transition: all 500ms ease;
}

.feature-preduct-area.home-page-2 .single-new-product .product-content h3 {
    font-weight: 500;
    font-size: 12pt;
    /*margin: 10px 0;*/
    line-height:16pt;
}

.fancybox-close {
    top: 0;
    right: 0;
}

.box-shadow {
    box-shadow: 0 0 25px 0 rgba(133, 128, 128, 0.82);
    -webkit-box-shadow: 0 0 25px 0 rgba(133, 128, 128, 0.82);
    -moz-box-shadow: 0 0 25px 0 rgba(133, 128, 128, 0.82);
}

.bdr-10 {
    border-radius: 10px;
}

.page-product .single-new-product .product-content {
    padding-top: 10px;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
    color: #14498f;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout a {
    background-color: #ffffff;
    border: 1px solid #3d220d;
    color: #333;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout a:hover {
    background-color: #3d220d;
    color: #fff;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue .commerce-add-to-cart-confirmation-close {
    background-color: #ffffff;
    border: 1px solid #3d220d;
    color: #333;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue .commerce-add-to-cart-confirmation-close:hover {
    background-color: #3d220d;
    color: #fff;
}

.text-red {
    color: #ed1e24;
}

.commerce-line-item-views-form .table-content table td input {
    padding: 0 10px 0 10px;
    display: inline-block;
    text-align: center;
}

.commerce-order-handler-area-order-total .field.field-name-commerce-order-total.field-type-commerce-price.field-label-inline.inline {
    display: flex;
    justify-content: flex-end;
}

.commerce-order-handler-area-order-total .field.field-name-commerce-order-total.field-type-commerce-price.field-label-inline.inline .field-items {
    padding-left: 6%;
}

.commerce-order-handler-area-order-total .field.field-name-commerce-order-total.field-type-commerce-price.field-label-inline.inline .field-label {
    font-size: 24px;
    font-weight: 500;
}

.commerce-order-handler-area-order-total .field.field-name-commerce-order-total.field-type-commerce-price.field-label-inline.inline .field-items .field-item.even {
    font-size: 24px;
    color: #f81011;
    font-weight: 500;
}

.buttons-cart {
    float: right;
}

.buttons-cart input:last-child {
    margin-right: 0;
}

.buttons-cart input, .coupon input[type="submit"] {
    margin-right: 71px;
}

.table-summary-form tbody tr td {
    text-align: center;
}

.checkout-continue {
    background: #C2A773 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    /*line-height: 50px;*/
    margin-top: 20px;
    padding: 0 25px;
    text-transform: none;
    border: none;
    transition: all 500ms ease;
}

.checkout-continue:hover {
    background: #333;
}

.checkout-buttons .checkout-cancel, .checkout-buttons .checkout-back {
    color: #c2a773;
}

.checkout-buttons .checkout-cancel:focus, .checkout-buttons .checkout-back:focus, .checkout-buttons .checkout-cancel:hover, .checkout-buttons .checkout-back:hover {
    text-underline: none;
    color: #f21415;
}

.checkout-review tbody {
    border: 1px solid #ccc;
}

.checkout-review {
    width: 100%;
}
.checkout-review tr.even,.checkout-review tr.odd{
    background: #fff;
}
tr.even, tr.odd{
    background-color: #fff;
}
.single-form-row label {
    color: #333;
}

.single-form-row label .required {
    color: red;
}

.btn-white {
    border: 1px solid #3d220d;
    font-weight: 500;
    transition: all 500ms ease;
}

.btn-white:hover {
    background: #3d220d;
    color: #fff;
}

.order-info-wrap .item-order span {
    font-weight: 500;
    font-size: 12pt;
}

.order-info-wrap .item-order .title-item {
    font-weight: 400;
    color: #576C8A;
}

.order-info-wrap .item-order {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.order-info-wrap {
    padding: 30px;
    box-shadow: 0 10px 40px rgba(39, 52, 125, 0.12);
    border-radius: 10px;
}

.btn-full {
    width: 100%;
}

.title-order {
    margin-top: 10px;
}

.title-order span {
    font-size: 20px;
    font-weight: 400;
    color: #3d220d;
}

.shoping-checkboxt-title {
    margin-bottom: 20px;
}

.order-info-wrap h3 {
    font-size: 24px;
}

.form-filter .views-exposed-widgets {
    display: flex;
    justify-content: flex-end;
}

.chosen-container-single .chosen-single {
    border: none;
    background: transparent;
    box-shadow: none;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: none;
    box-shadow: none;
    background: none;
}

.chosen-container .chosen-drop {
    border: 1px solid #ededed;
    border-radius: 1px;
    box-shadow: none;
}
.form-text{
    margin-top: 0;
}
.ml-30{
    margin-left: 30px;
}
div#edit-field-so-dien-thoai-value-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}
.form-filter .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 29px;
}
.form-filter .btn-submit{
    transition: all 500ms ease;
}
.form-filter .btn-submit:hover {
    background: #14498f;
    color: #fff;
}
.submit-button {
    transition: all 500ms ease;
    padding: 10px 30px;
    background: #fff;
    font-weight: 500;
    border: 1px solid #cebdbd;
}
.submit-button:hover {
    background: #14498f;
    color: #fff;
}
.product-thumbnail .field-items {
    display: flex;
}
.contact-info-text li {
    margin-bottom: 50px;
}
.contact-title i {
    font-size: 24pt;
    margin-bottom: 20px;
}
.contact-form-area.section-ptb {
    margin: 30px 0;
}

.hotline-chat {
    position: fixed;
    bottom: -12px;
    right: -9px;
    z-index: 99;
}
.hotlinefix {
    position: fixed;
    bottom: 66px;
    left: 52px;
    z-index: 99;
}
.circle-hotline-chat {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0080FF;
    -webkit-transition: height .25s ease, width .25s ease;
    transition: height .25s ease, width .25s ease;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    margin-top: 0;
    margin-left: -3px;
}
.circle-hotline-chat span {
    margin: 12px;
    display: inline-block;
}
.circle-hotline-chat:before,
.circle-hotline-chat:after {
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-radius:50%;
    border: 1px solid #0080FF;
}
.circle-hotline-chat:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
}
.circle-hotline-chat:after {
    -webkit-animation: ripple 2s linear 1s infinite;
    animation: ripple 2s linear 1s infinite;
}
.circle-hotline-chat:hover:before,
.circle-hotline-chat:hover:after {
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes ripple{
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
}
.circle-hotline-chat img {
    width: 50px;
    max-width: 100%;
    height: auto;
}
.hotline-chat .phone {
    font-size: 16px;
    font-weight: bold;
    background: #F00;
    color: white;
    padding: 1px 30px 1px 75px;
    border-radius: 39px;
    left: -25px;
    top: -25px;
    position: absolute;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}
#home-chat .hotline-chat .phone p {
    line-height: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}
#home-chat .hotline-chat .phone p a{
    font-style: inherit;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.circle-hotline {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: red;
  -webkit-transition: height .25s ease,width .25s ease;
  transition: height .25s ease,width .25s ease;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 1px 1px 8px rgb(0 0 0 / 30%);
  margin-top: 0;
  margin-left: -3px;
}

.circle-hotline span {
  margin: 9px;
  display: inline-block;
}
.circle-hotline:before,
.circle-hotline:after {
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-radius:50%;
    border: 1px solid #F00;
}
.circle-hotline:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
}
.circle-hotline:after {
    -webkit-animation: ripple 2s linear 1s infinite;
    animation: ripple 2s linear 1s infinite;
}
.circle-hotline:hover:before,
.circle-hotline:hover:after {
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes ripple{
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
}
.circle-hotline img {
    width: 50px;
    max-width: 100%;
    height: auto;
}
.hotlinefix .phone {
  font-size: 14px;
  font-weight: 700;
  background: #fff;
  color: red;
  padding: 0 30px 1px 65px;
  border-radius: 39px;
  left: -28px;
  top: -25px;
  position: absolute;
  box-shadow: 1px 1px 8px rgb(0 0 0 / 40%);
}
.chuyen_cho .phone {
  font-size: 14px;
  font-weight: 700;
  background: #fff;
  color: red;
  padding: 0 65px 1px 30px;
  border-radius: 39px;
  left: -160px;
  top: -25px;
  position: absolute;
  box-shadow: 1px 1px 8px rgb(0 0 0 / 40%);
}
.hotlinefix .phone a {
  display: inline-block;
  padding: 12px 0;
    font-size: 12pt;
  color: red;
  min-width: 87px;
    font-weight: 400;
}
.hotlinefix .phone p {
    line-height: 8px;
    margin-top: 6px;
    margin-bottom: 4px;
}
.hotlinefix .phone p a{
    font-style: inherit;
    color: #F00;
    text-shadow: none;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(18 2 255 / 12%);
}
.page-product .product-content a h3 {
    text-transform: initial;
}
.item-product {
    position: relative;
    overflow: hidden;
}
.title-product {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.9416141456582633) 84%);
    position: absolute;
    z-index: 99;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.title-product h3 a {
    font-size: 16pt;
    color: #fff;
    width: 100%;
    display: block;
    padding: 30% 20px 20px;
}
.item-product:hover .title-product h3 a {
    padding: 100% 20px 20px;
}
.title-product h3 a:hover {
    color: #C2A773;
}
.categories-product .owl-controls .owl-nav div {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #464444;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: absolute;
    top: -33%;
    right: 0;
    font-size: 25px;
}
.categories-product .owl-controls .owl-nav .owl-prev {
    right: 45px;
}
.field-tags a {
    padding: 10px;
    border: 1px solid #d2d1d1;
}
.chuyen_cho {
  position: fixed;
  right: 17px !important;
  left: unset;
  z-index: 99;
}
.field-tags a {
    padding: 10px;
    border: 1px solid #d2d1d1;
    display: inline-block;
    margin-bottom: 10px;
}
.field-tags a:hover {
    background: #14498f;
    color: #fff;
}
.coolor_xanh .btn-danger a:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
@media (max-width: 760px) {
  span.phone {
    display: none;
  }
  div.hotlinefix:hover span.phone {
    display: block;
  }
}
.single-purchase {
    margin-top: 30px;
    flex: 0 0 20%;
}
.purchase-img i {
    font-size: 55px;
}
.purchase-info h3{
    font-size: 17px;
}

.background-form-tim {
  background: #cccccc26;
  padding: 0px 10px;
}
.content-page .form-group {
  margin: 10px 0px 0px 0px;
}
.content-page .form-actions {
  margin-top: 5px;
}
.content-page {
  margin-top: 30px;
}
.has-sub-menu-1 > p > a {
  color: #f8433f;
  font-size: 14pt;
  font-weight: 600;
}
.has-sub-menu-2 > p, .has-sub-menu-2 > p > a {
  color: #fff;
  font-size: 12pt;
  font-weight: 600;
}
.back-ground-sidebar {
  background: #bfbfbf;
  padding: 15px;
}
.has-sub-menu-3 > p, .has-sub-menu-3 > p > a {
  color: #14498f;
  font-size: 12pt;
  font-weight: 600;
}
.has-sub-menu-3 > p > i, .has-sub-menu-3 > p > i{
  color: #14498f;
  font-size: 12pt;
  font-weight: 600;
}
@media (max-width: 800px ) and (min-width: 600px){
  .side-bar-news .single-new-product {
    display: block;
  }
  .side-bar-news .single-new-product .product-content {
    flex: none;
    padding-left: 0px;
  }
  .side-bar-news .single-new-product .product-img {
    flex: none;
    width: 100%;
  }
  .feature-preduct-area.home-page-2 .single-new-product .product-img {
    float: left;
    width: 100%;
  }
  .feature-preduct-area.home-page-2 .single-new-product .product-content {
    float: left;
    padding-left: 12px;
    text-align: left;
    width: 100%;
  }
}
